<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="resources.Listeners"></listener>
<listener class-name="resources.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Validating Environment Selection">
    <classes>
      <class name="android_Testcases.EnvironmentSelection"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Validating login functionality">
    <classes>
      <class name="android_Testcases.Login"/>
    </classes>
      </test> <!-- Test -->
   <test thread-count="5" name="Validating Join Ocean functionality">
    <classes>
      <class name="android_Testcases.JoinOcean"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
